# <font color='DarkRed'>**APRENDIZAGEM NÃO SUPERVISIONADO:Agrupamento**

In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot') or plt.style.use('ggplot')
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer   
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer 

# Estilo: algumas bibliotecas extras
import matplotlib.style as style 
sns.set(font_scale=1.5)
style.use('seaborn-pastel')
style.use('seaborn-poster')
from PIL import Image
from wordcloud import WordCloud #!pip install wordcloud
from sklearn.feature_extraction.text import CountVectorizer   
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer 
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

# Construindo modelos de classificação
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

# Avaliação do modelo
from sklearn import metrics
from sklearn.metrics import confusion_matrix, f1_score, precision_score, recall_score
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import MinMaxScaler

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
dfR = pd.read_csv('twitter_sentiment_data.csv', sep=',', encoding='iso-8859-1')

In [4]:
dfR.head()

,sentiment,message,tweetid
0,-1,@tiniebeany climate change is an interesting h...,792927353886371840
1,1,RT @NatGeoChannel: Watch #BeforeTheFlood right...,793124211518832641
2,1,Fabulous! Leonardo #DiCaprio's film on #climat...,793124402388832256
3,1,RT @Mick_Fanning: Just watched this amazing do...,793124635873275904
4,2,"RT @cnalive: Pranita Biswasi, a Lutheran from ...",793125156185137153

In [7]:
dados= dfR[['sentiment','message']]
dados.head(3)

   sentiment                                            message
0         -1  @tiniebeany climate change is an interesting h...
1          1  RT @NatGeoChannel: Watch #BeforeTheFlood right...
2          1  Fabulous! Leonardo #DiCaprio's film on #climat...

##  <font color='DarkRed'>**K-MODES**
    
<font color='Navy'>**Algoritmo para agrupamento de dados mistos (categóricos e numéricos). Documentação:**
    
https://pypi.org/project/kmodes/

In [26]:
# !pip install kmodes
from kmodes.kprototypes import KPrototypes
from kmodes.kmodes import KModes

In [11]:
kproto = KPrototypes(n_clusters= 4)

In [14]:
# converte a variavel categorica en numerica
kproto1 = kproto.fit_predict(dados, categorical=[1])

In [15]:
kproto1

array([3, 1, 1, ..., 0, 2, 1], dtype=uint16)

In [17]:
agrupamento = pd.DataFrame(kproto1, columns = ['grupo'])
agrupamento.head(3)

   grupo
0      3
1      1
2      1

In [18]:
df_final = pd.concat([dfR, agrupamento],axis=1)

In [19]:
df_final.head(3)

,sentiment,message,tweetid,grupo
0,-1,@tiniebeany climate change is an interesting h...,792927353886371840,3
1,1,RT @NatGeoChannel: Watch #BeforeTheFlood right...,793124211518832641,1
2,1,Fabulous! Leonardo #DiCaprio's film on #climat...,793124402388832256,1

In [20]:
df_final.iloc[132 , :]

sentiment                                                    1
message      RT @NatGeoChannel: Watch #BeforeTheFlood right...
tweetid                                     793198030895874049
grupo                                                        1
Name: 132, dtype: object

In [21]:
grupo = df_final.loc[df_final.grupo ==3]
grupo.head()

,sentiment,message,tweetid,grupo
0,-1,@tiniebeany climate change is an interesting h...,792927353886371840,3
20,-1,@marie_dunkley arseholes couldn't predict tomo...,793135386558070785,3
125,-1,@AngieNBC6 you do understand that climate chan...,793195493568413696,3
286,-1,RT @trojan719: Why don't you fucking global wa...,793283530486874112,3
337,-1,"RT @realDonaldTrump: It's freezing outside, wh...",793342333072932864,3

In [22]:
grupo.shape

(3990, 4)

In [23]:
df_final.dtypes

sentiment     int64
message      object
tweetid       int64
grupo        uint16
dtype: object

In [61]:
df7= df_final[['sentiment','grupo']]
df7.head(3)

   sentiment  grupo
0         -1      3
1          1      1
2          1      1

In [32]:
# custo = []
# for num_clusters in list(range(1,7)):
#     kmode = KModes(n_clusters=num_clusters, n_init = 2, verbose=1)
#     kmode.fit_predict(df7)
#     custo.append(kmode.cost_)

In [33]:
# import matplotlib.pyplot as plt
# y = np.array([i for i in range(1,7,1)])
# plt.plot(y,custo);

In [50]:
X = df7['grupo']
y = df7['sentiment'] #alvo

In [ ]:
# Representación gráfica: grupos originales vs clusters creados
# ==============================================================================
fig, ax = plt.subplots(1, 2, figsize=(10, 4))

# Grupos originales
for i in np.unique(y):
    ax[0].scatter(
        x = X_scaled[y == i, 0],
        y = X_scaled[y == i, 1], 
        c = plt.rcParams['axes.prop_cycle'].by_key()['color'][i],
        marker    = 'o',
        edgecolor = 'black', 
        label= f"Grupo {i}"
    )
    
ax[0].set_title('Clusters generados por Kmeans')
ax[0].legend();

for i in np.unique(y_predict):
    ax[1].scatter(
        x = X_scaled[y_predict == i, 0],
        y = X_scaled[y_predict == i, 1], 
        c = plt.rcParams['axes.prop_cycle'].by_key()['color'][i],
        marker    = 'o',
        edgecolor = 'black', 
        label= f"Cluster {i}"
    )
    
ax[1].scatter(
    x = modelo_kmeans.cluster_centers_[:, 0],
    y = modelo_kmeans.cluster_centers_[:, 1], 
    c = 'black',
    s = 200,
    marker = '*',
    label  = 'centroides'
)
ax[1].set_title('Clusters generados por Kmeans')
ax[1].legend();